@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />


<div class="text-center" style="background-color: lightgray;">
    <h1 class="display-4">Dobrodošli </h1>
    <br />
    <br />
    <p>Svrha aplikacije - "Skladištenje" video igara prema kategorijama.</p>
    <p style="margin-top: 100px;">
        <div style="border: 2px solid black; display: inline-block; padding: 0px;">
            <img width="962" height="463" src="~/slike/Igrice.jpg" />
        </div>
    </p>
</div>
