@{
    ViewData["Title"] = "O nama";
}
<!DOCTYPE html>
<html>
<body>
    <div class="content">
        <h1>@ViewData["Title"]</h1>

        <p>
            Fabijan Dragojević
            <br />
            Student 3. godine prediplomskog studija EFOS
            <br />
            Smjer: Poslovna informatika
        </p>
    </div>
</body>
</html>

